* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
}

html,
body,
#root {
  min-height: 100%;
}

:root {
  --background: #09090a;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  /* gap: 20px; */
}

.container > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background: yellow;
  grid-area: header;
  /* grid-column: 1 / 3; */
}

main {
  background: blue;
  grid-area: main;
  /* grid-column: 1 / 2; */
}

aside {
  background: green;
  grid-area: aside;
  /* grid-column: 2 / 3; */
}

footer {
  background: red;
  grid-area: footer;
  /* grid-column: 1 / 3; */
}
